<section id="cronograma" class="pt-10 pb-20">
  <h2 class="text-center text-[#29304D] text-4xl font-bold mb-12">
    Cronograma
  </h2>

  <div
    class="flex flex-col items-center justify-center gap-x-32 lg:flex-row gap-y-10 px-4"
  >
    <!-- Card Fixture -->
    <div
      class="flex flex-col border items-center py-8 px-12 sm:px-16 gap-y-5 rounded-lg shadow-lg bg-white"
    >
      <h3 class="text-center text-2xl font-bold text-gray-800">
        Copa federativa - Sub 08
      </h3>
      <div class="flex items-center gap-x-4 px-3">
        <h4 class="text-xl font-bold text-gray-800">JVC</h4>
        <div class="rounded-lg py-2 px-6 border border-black flex">
          <p class="text-base font-semibold mr-2">0</p>
          <p class="text-base font-semibold">-</p>
          <p class="text-base font-semibold ml-2">0</p>
        </div>
        <h4 class="text-xl font-bold text-gray-800">PGT</h4>
      </div>
      <div class="flex flex-col">
        <h5 class="text-center text-lg font-bold text-[#122050]">
          Estadio Santa Rosa de Sacco
        </h5>
        <span class="text-center font-semibold text-[#122050]"
          >03/06 - 02:30</span
        >
      </div>
    </div>
    <!-- Card Fixture -->
    <div
      class="flex flex-col border items-center py-8 px-12 sm:px-16 gap-y-5 rounded-lg shadow-lg bg-white"
    >
      <h3 class="text-center text-2xl font-bold text-gray-800">
        Copa federativa - Sub 08
      </h3>
      <div class="flex items-center gap-x-4 px-3">
        <h4 class="text-xl font-bold text-gray-800">JVC</h4>
        <div class="rounded-lg py-2 px-6 border border-black flex">
          <p class="text-base font-semibold mr-2">0</p>
          <p class="text-base font-semibold">-</p>
          <p class="text-base font-semibold ml-2">0</p>
        </div>
        <h4 class="text-xl font-bold text-gray-800">PGT</h4>
      </div>
      <div class="flex flex-col">
        <h5 class="text-center text-lg font-bold text-[#122050]">
          Estadio Santa Rosa de Sacco
        </h5>
        <span class="text-center font-semibold text-[#122050]"
          >03/06 - 02:30</span
        >
      </div>
    </div>
  </div>
</section>
