---
import Trophy from "../icons/Trophy.astro";
---

<section id="logros" class="pt-10 pb-20 px-4">
  <h2 class="text-center text-[#29304D] text-4xl font-bold my-8">
    Nuestros logros
  </h2>
  <p class="text-center max-w-2xl m-auto font-semibold my-8 px-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore nesciunt
    atque commodi, unde ullam officia, dignissimos veniam nisi quidem quia ex
    libero alias dicta earum illo, maxime doloribus recusandae nemo!
  </p>
  <div class="flex flex-wrap px-4 justify-center items-start gap-y-10 gap-x-32">
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <Trophy class="size-10 text-[#151D3D]" />
      <div>
        <p class="text-center font-bold text-3xl text-gray-900">01</p>
        <p class="text-center max-w-40 text-xl font-semibold text-gray-800">
          Sub 08
        </p>
      </div>
    </div>
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <Trophy class="size-10 text-[#151D3D]" />
      <div>
        <p class="text-center font-bold text-3xl text-gray-900">01</p>
        <p class="text-center max-w-40 text-xl font-semibold text-gray-800">
          Sub 10
        </p>
      </div>
    </div>
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <Trophy class="size-10 text-[#151D3D]" />
      <div>
        <p class="text-center font-bold text-3xl text-gray-900">01</p>
        <p class="text-center max-w-40 text-xl font-semibold text-gray-800">
          Sub 12
        </p>
      </div>
    </div>
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <Trophy class="size-10 text-[#151D3D]" />
      <div>
        <p class="text-center font-bold text-3xl text-gray-900">01</p>
        <p class="text-center max-w-40 text-xl font-semibold text-gray-800">
          Sub 13
        </p>
      </div>
    </div>
  </div>
</section>
