<section id="metodologia" class="bg-[#29304D] pt-10 pb-20 px-4">
  <h2 class="text-center text-white text-4xl font-bold my-12">Metodologia</h2>
  <div class="flex flex-wrap px-4 justify-center items-start gap-10">
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <h4 class="text-center text-white font-bold text-xl">Menores</h4>
      <p class="text-center text-white max-w-40 text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque iure
        mollitia
      </p>
    </div>
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <h4 class="text-center text-white font-bold text-xl">Menores</h4>
      <p class="text-center text-white max-w-40 text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque iure
        mollitia
      </p>
    </div>
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <h4 class="text-center text-white font-bold text-xl">Menores</h4>
      <p class="text-center text-white max-w-40 text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque iure
        mollitia
      </p>
    </div>
    <!-- card metodo -->
    <div
      class="flex flex-col items-center justify-center p-4 gap-y-4 rounded-xl"
    >
      <h4 class="text-center text-white font-bold text-xl">Menores</h4>
      <p class="text-center text-white max-w-40 text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque iure
        mollitia
      </p>
    </div>
  </div>
</section>
