---
import Layout from "../layouts/Layout.astro";
import Nosotros from "../components/Nosotros.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CardMatch from "../components/CardMatch.astro";
import TitleMatch from "../components/TitleMatch.astro";
import CardPrograma from "../components/CardPrograma.astro";
import Awards from "../components/Awards.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Escuela formativa de fútbol JVC">
  <main class="px-4">
    <div class="space-y-24">
      <section class="w-full py-14 px-32 flex flex-col gap-16">
        <h1
          class="text-black/80 dark:text-white text-9xl font-bold flex justify-center flex-row"
        >
          ACADEMIA JVC
        </h1>
        <h2
          class="text-black/80 dark:text-white text-center text-2xl font-semibold flex justify-center flex-row"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          nostrum veniam dolore quis placeat cupiditate sed minus tempora beatae
          quidem cumque incidunt blanditiis odio, consequatur eligendi porro
          quam repellat esse!
        </h2>
      </section>
      <SectionContainer>
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          Nosotros
        </h2>
        <Nosotros />
      </SectionContainer>
      <SectionContainer>
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          Programa
        </h2>
        <CardPrograma />
      </SectionContainer>
      <SectionContainer>
        <h2
          class="flex items-center mb-1 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          Cronograma
        </h2>
        <TitleMatch />
        <CardMatch />
      </SectionContainer>
      <SectionContainer>
        <h2
          class="flex items-center justify-center mb-6 font-bold text-3xl text-black/80 dark:text-white"
        >
          MEJORES MOMENTOS
        </h2>
        <Gallery />
      </SectionContainer>
      <SectionContainer>
        <h2
          class="flex items-center justify-center mb-20 font-bold text-3xl text-black/80 dark:text-white"
        >
          PREMIOS
        </h2>
        <Awards />
      </SectionContainer>
    </div>
  </main>
</Layout>

<style></style>
