<div class="flex flex-col">
  <h1>Contáctanos</h1>
  <h3>Envíanos tu correo se deseas más información</h3>
  <div class="flex justify-between">
    <textarea name="" id="">Escriba un correo</textarea>
    <button>enviar</button>
  </div>
</div>
