<div class="flex flex-col">
  <article
    class="flex flex-row gap-y-4 gap-x-0 justify-between group md:flex-row md:flex-wrap md:justify-between sm:flex-wrap flex-wrap"
  >
    <div
      class="flex flex-col items-center justify-center rounded-lg bg-white w-full h-60 gap-5 md:w-[48%] shadow-2xlsm"
    >
      <h1 class="text-[#070F2B] text-2xl font-semibold">
        Copa federativa - Sub 08
      </h1>
      <div class="flex items-center gap-5">
        <div class="flex items-center gap-4">
          <img src="/images/eagle.png" alt="equipo uno" />
          <h2 class="text-[#152E84] text-xl font-medium">JVC</h2>
        </div>
        <p
          class="text-[#070F2B] text-2xl px-6 py-2 font-semibold border border-black rounded-lg"
        >
          0 - 0
        </p>
        <div class="flex items-center gap-4">
          <h2 class="text-[#152E84] text-xl font-medium">JVC</h2>
          <img src="/images/eagle.png" alt="equipo uno" />
        </div>
      </div>
      <h3 class="text-[#1B1A55] text-xl text-center">
        Estadio Santa Rosa de Sacco <br />
        <span class="font-medium">03/05 - 02:30 pm</span>
      </h3>
    </div>

    <div
      class="flex flex-col items-center justify-center rounded-lg bg-white w-full h-60 gap-5 md:w-[48%] shadow-2xlsm"
    >
      <h1 class="text-[#070F2B] text-2xl font-semibold">
        Copa federativa - Sub 10
      </h1>
      <div class="flex items-center gap-5">
        <div class="flex items-center gap-4">
          <img src="/images/eagle.png" alt="equipo uno" />
          <h2 class="text-[#152E84] text-xl font-medium">JVC</h2>
        </div>
        <p
          class="text-[#070F2B] text-2xl px-6 py-2 border font-semibold border-black rounded-lg"
        >
          0 - 0
        </p>
        <div class="flex items-center gap-4">
          <h2 class="text-[#152E84] text-xl font-medium">JVC</h2>
          <img src="/images/eagle.png" alt="equipo uno" />
        </div>
      </div>
      <h3 class="text-[#1B1A55] text-xl text-center">
        Estadio Santa Rosa de Sacco <br />
        <span class="font-medium">03/05 - 02:30 pm</span>
      </h3>
    </div>
  </article>
</div>
