---
import Eagle from "./icons/Eagle.astro";
import Facebook from "./icons/Facebook.astro";
import Phone from "./icons/Phone.astro";
import Email from "./icons/Email.astro";
---

<section class="flex flex-col items-center gap-y-10 m-9">
  <a
    href="https://www.facebook.com/people/Escuela-Formativa-de-F%C3%BAtbol-JVC-Oficial/61558733515250/"
    class="rounded-full bg-[#152E84] p-2"
    target="_blank"
  >
    <Facebook />
  </a>
  <div
    class="flex md:flex-row flex-col md:justify-evenly items-center space-y-10 md:space-y-0 w-full mt-4"
  >
    <div class="flex items-center gap-2">
      <Phone />
      <p class="font-bold font-1xl">987 654 321</p>
    </div>
    <div class="flex items-center gap-2">
      <Email />
      <p class="font-bold font-1xl">academiajvc01@gmail.com</p>
    </div>
  </div>
  <Eagle class="" />
</section>
