---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center px-5">
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4 text-center space-x-10"
  >
    <span class="text-sm sm:text-center text-[#070F2B] dark:text-gray-100">
      @ {currentYear}
      - Casi todos los derechos reservados</span
    >
    <span class="text-[#070F2B] dark:text-gray-100">
      Implementado por <a href="/" class="font-bold">JVP</a>
    </span>
  </div>
</footer>
