---
import Eagle from "./icons/Eagle.astro";
---

<div class="w-full mx-auto container max-w-[14400px]">
  <div class="flex flex-col text-white items-center">
    <nav
      class="flex space-x-40 md:justify-between justify-center items-center mb-10 w-[1000px]"
    >
      <!-- Logo -->
      <a href="/" class="flex items-center py-5 px-2 hover:text-gray-900">
        <Eagle class="text-[#064d9f]" />
      </a>
      <!-- Primary navigation -->
      <div class="hidden md:flex items-center space-x-1 justify-center">
        <a href="/" class="py-5 px-3 hover:text-[#4476b0]">Inicio</a>
        <a href="/" class="py-5 px-3 hover:text-[#064d9f]">Nosotros</a>
        <a href="/" class="py-5 px-3 hover:text-[#064d9f]">Programa</a>
        <a href="/" class="py-5 px-3 hover:text-[#064d9f]">Galería</a>
        <a href="/" class="py-5 px-3 hover:text-[#064d9f]">Contáctanos</a>
      </div>
    </nav>

    <div class="flex flex-col items-center space-y-20 py-20 w-[800px]">
      <h1
        class="text-black/80 dark:text-white text-5xl font-bold flex justify-center flex-row md:text-7xl sm:text-7xl"
      >
        ACADEMIA JVC
      </h1>
      <h2
        class="text-black/80 dark:text-white text-center text-1xl font-semibold flex justify-center flex-row md:text-2xl sm:text-2xl"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nostrum
        veniam dolore quis placeat cupiditate sed minus tempora beatae quidem
        cumque incidunt blanditiis odio, consequatur eligendi porro quam
        repellat esse!
      </h2>
    </div>
  </div>
</div>
