---
import Facebook from "./icons/Facebook.astro";
import Phone from "./icons/Phone.astro";
import Email from "./icons/Email.astro";
---

<div
  class="bg-[url('/images/FondoJVC.webp')] w-full bg-cover bg-center h-auto bg-no-repeat pb-10 pt-4 px-0.5"
>
  <nav class="flex px-16 justify-center items-center md:justify-between">
    <img
      class="size-20 p-1 bg-transparent"
      src="images/logoJVC.webp"
      alt="logo"
      title="logo de JVC"
    />
    <ul class="hidden gap-10 lg:inline-flex">
      <li>
        <a
          href="#Inicio"
          class="text-white font-bold"
          rel="noopener noreferrer"
          title="Opcion inicio">Inicio</a
        >
      </li>
      <li>
        <a
          href="#cronograma"
          class="text-white font-bold"
          rel="noopener noreferrer"
          title="Opcion cronograma">Cronograma</a
        >
      </li>
      <li>
        <a
          href="#nosotros"
          class="text-white font-bold"
          rel="noopener noreferrer"
          title="Opcion inicio nosotros">Nosotros</a
        >
      </li>
      <li>
        <a
          href="#cronograma"
          class="text-white font-bold"
          rel="noopener noreferrer"
          title="Opcion inicio cronograma">Cronograma</a
        >
      </li>
      <li>
        <a
          href="#metodologia"
          class="text-white font-bold"
          rel="noopener noreferrer"
          title="Opcion inicio metodologia">Metodología</a
        >
      </li>
      <li>
        <a
          href="#galeria"
          class="text-white font-bold"
          rel="noopener noreferrer"
          title="Opcion inicio galeria">Galería</a
        >
      </li>
      <li>
        <a
          href="#logros"
          class="text-white font-bold"
          rel="noopener noreferrer"
          title="Opcion inicio logros">Logros</a
        >
      </li>
    </ul>
  </nav>
  <div class="flex flex-col px-16 gap-y-4 py-32 md:py-48">
    <h1 class="text-4xl text-white font-bold max-w-xl md:text-6xl">
      Escuela formativa de Fútbol JVC
    </h1>
    <div class="flex gap-3">
      <a
        class="bg-transparent p-1 rounded-full border border-white"
        href="https://www.facebook.com/profile.php?id=61558733515250"
        target="_blank"
        rel="noopener noreferrer"
        title="Facebook de la academia JVC"
      >
        <Facebook class="text-white size-6" />
      </a>
      <a
        class="bg-transparent p-1 rounded-full border border-white"
        href="tel:987 654 321"
        title="Llamar al 987 654 321"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Phone class="text-white size-6" />
      </a>
      <a
        class="bg-transparent p-1 rounded-full border border-white"
        href="mailto:prueba@gmail.com"
        title="Enviar un correo electronico a prueb@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Email class="text-white size-6" />
      </a>
    </div>
  </div>
</div>
