    <header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto bg-transparent">
        <img 
        class="w-12 h-12" src="/images/eagle.png" alt="logo foto">
    
        <nav class="flex flex-row gap-x-10 opacity-80">
            <a href="/">Inicio</a>
            <a href="/">Nosotros</a>
            <a href="/">Programa</a>
            <a href="/">Cronograma</a>
            <a href="/">Galería</a>
            <a href="/">Contáctanos</a>
        </nav>
    </header>
