---
import Eagle from "./icons/Eagle.astro";
---

<header class="bg-transparent py-4 lg:py-8 text-white">
  <nav class="flex justify-between items-center w-[70%] mx-auto">
    <div>
      <Eagle class="text-[#064d9f]" />
    </div>
    <div class="hidden lg:inline font-bold">
      <ul class="flex gap-8">
        <li><a href="/">Inicio</a></li>
        <li><a href="/">Nosotros</a></li>
        <li><a href="/">Programa</a></li>
        <li><a href="/">Galería</a></li>
        <li><a href="/">Contáctanos</a></li>
      </ul>
    </div>
  </nav>
</header>
