<section class="w-full py-14 flex flex-col gap-16">
  <h1
    class="text-black/80 dark:text-white text-5xl font-bold flex justify-center flex-row md:text-7xl sm:text-7xl"
  >
    ACADEMIA JVC
  </h1>
  <h2
    class="text-black/80 dark:text-white text-center text-1xl font-semibold flex justify-center flex-row md:text-2xl sm:text-2xl"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nostrum
    veniam dolore quis placeat cupiditate sed minus tempora beatae quidem cumque
    incidunt blanditiis odio, consequatur eligendi porro quam repellat esse!
  </h2>
</section>
<style>
  body {
    background-image: url("/images/h01.jpg");
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }
</style>
