<a
  href=""
  role="link"
  class="inline-text items-center justify-center gap-2 px-7 py-2 space-x-2 text-base text-white transition bg-[#064d9f] dark:bg-gray-600 border border-[#064d9f] dark:border-gray-600 text-md hover:bg-gray-700 dark:hover:bg-gray-700 hover:border-gray-900 dark:hover:border-gray-700 group max-w-fit rounded-xl hover:text-white font-bold"
>
  <slot />
</a>
