---
import ModalButtonVer from "./ModalButtonVer.astro";
---

<div class="flex flex-col gap-y-16">
  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 items-center"
  >
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 rounded-lg sm:rounded-xl"
      >
        <img
          width="350"
          class="object-cover object-top sm:h-full md:scale-110 rounded-lg sm:rounded-xl"
          src="/images/jvc03.jpg"
          loading="lazy"
          alt="Team 01"
        />
      </div>
    </div>
    <div class="w-full md:w-1/2 flex flex-col justify-center">
      <h3 class="text-2xl font-bold text-[#070F2B] dark:text-gray-100">
        SEAMOS MEJOR QUE EL NUMERO UNO
      </h3>
      <div class="mt-2 text-gray-700 dark:text-gray-400">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident,
        ducimus ullam? Cum quasi at natus molestias iste necessitatibus dicta.
        Cupiditate sunt molestias, laudantium repudiandae distinctio quod quis
        cum eligendi sapiente?
      </div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
        <ModalButtonVer> ver más </ModalButtonVer>
      </footer>
    </div>
  </article>
</div>
