---
import ModalButtonFixture from "./ModalButtonFixture.astro";
import ModalMatch from "./ModalMatch.astro";
---

<div class="flex items-center justify-between mb-6">
  <h1 class="text-[#064d9f] font-bold dark:text-[#A1A8B7]">
    PROXIMOS PARTIDOS
  </h1>
  <ModalButtonFixture>FIXTURE</ModalButtonFixture>
</div>

<!-- The Modal -->
<div
  id="myModal"
  class="modal fixed z-[1] pt-28 left-0 top-0 w-full h-full overflow-auto bg-black hidden"
>
  <!-- Modal content -->
  <div
    class="bg-neutral-600 m-auto p-10 outline-none border-none w-4/5 lg:w-3/5 rounded-lg"
  >
    <ModalMatch />
  </div>
</div>

<style>
  .modal {
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  }
</style>

<script>
  const modal = document.getElementById("myModal");

  const btn = document.getElementById("modal-fixture");

  btn!.onclick = function () {
    modal!.style.display = "block";
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal!.style.display = "none";
    }
  };
</script>
