---
import LinkButton from "./LinkButton.astro";
---

<div class="flex items-center justify-between mb-6">
    <h1 class="text-blue-950 font-bold dark:text-gray-500">PROXIMOS PARTIDOS</h1>
    <LinkButton>
        FIXTURE
    </LinkButton>
</div>